<!DOCTYPE html>
<!--缓存页面
	2、自动跳转至登陆与注册的功能页面
-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>互动教学</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>

    <script src="js/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
</head>

<body>
<div class="mui-content">
    <div class="homePage">
        <div class="logo">
            <span class="logoText">互动</span><span class="logoSubtitle"><p>新</p><p>课</p><p>堂</p></span>
            <p class="logoBpttomText">New&nbsp;Classroom</p>
        </div>
        <div class="homePageSlogan">互动新课堂，不一样的课堂～</div>
        <div class="homePageBottom">
            &copy;HuDongNewClassRoom.com
        </div>
    </div>
</div>
</body>
<script type="text/javascript" charset="utf-8">
    setTimeout(function () {
        location = "html/landIng.html";
    }, 2000)
</script>

</html>